* {
  box-sizing: border-box;
  margin: 0;
  padding: 0;
}

body {
  background: hsl(212deg, 45%, 89%);
  font-family: "Outfit", sans-serif;
}

main {
  background: hsl(212deg, 45%, 89%);
  font-family: "Outfit", sans-serif;
  width: 375px;
  margin: auto;
  padding: 18px;
  position: absolute;
  top: calc(50% - 272px);
  left: calc(50% - 187.5px);
}
main .contenedorQr {
  padding: 18px;
  background: #fff;
  border-radius: 1.2em;
  overflow: hidden;
}
main .contenedorQr img {
  width: 100%;
  border-radius: 0.75em;
}
main .contenedorQr .texto {
  font-size: 15px;
}
main .contenedorQr .texto h2 {
  font-weight: 700;
  text-align: center;
  margin: 17px;
}
main .contenedorQr .texto p {
  font-weight: 400;
  color: hsl(220deg, 15%, 55%);
  text-align: center;
  margin: 17px 19px 25px 19px;
  line-height: 19px;
}

