* {
    box-sizing: border-box;
    margin: 0;
    padding: 0;
}

/* young-serif-latin-400-normal */
@font-face {
    font-family: 'Young Serif';
    font-style: normal;
    font-display: swap;
    font-weight: 400;
    src: url(https://cdn.jsdelivr.net/fontsource/fonts/young-serif@latest/latin-400-normal.woff2) format('woff2'), url(https://cdn.jsdelivr.net/fontsource/fonts/young-serif@latest/latin-400-normal.woff) format('woff');
    unicode-range: U+0000-00FF,U+0131,U+0152-0153,U+02BB-02BC,U+02C6,U+02DA,U+02DC,U+0304,U+0308,U+0329,U+2000-206F,U+2074,U+20AC,U+2122,U+2191,U+2193,U+2212,U+2215,U+FEFF,U+FFFD;
  }

/* outfit-latin-wght-normal */
@font-face {
    font-family: 'Outfit Variable';
    font-style: normal;
    font-display: swap;
    font-weight: 100 900;
    src: url(https://cdn.jsdelivr.net/fontsource/fonts/outfit:vf@latest/latin-wght-normal.woff2) format('woff2-variations');
    unicode-range: U+0000-00FF,U+0131,U+0152-0153,U+02BB-02BC,U+02C6,U+02DA,U+02DC,U+0304,U+0308,U+0329,U+2000-206F,U+2074,U+20AC,U+2122,U+2191,U+2193,U+2212,U+2215,U+FEFF,U+FFFD;
  }

:root {
    --nutmeg: hsl(14, 45%, 36%);
    --dark-raspberry: hsl(332, 51%, 32%);

    --white: hsl(0, 0%, 100%);
    --rose-white: hsl(330, 100%, 98%);
    --eggshell: hsl(30, 54%, 90%);
    --light-grey: hsl(30, 18%, 87%);
    --wenge-brown: hsl(30, 10%, 34%);
    --dark-charcoal: hsl(24, 5%, 18%);
}

body {

    font-family: "Outfit", sans-serif;
    color: var(--wenge-brown);
    background: var(--light-grey);
}

p{
    width: 315px;
    margin: auto;
    margin-bottom: 1.7em;
    line-height: 1.5em;
}

h1,
h2 {
    font-family: "Young Serif", serif;
    font-weight: 400;
    color: var(--nutmeg);
    padding-bottom: 20px;
}

h1 {
    padding-left: 30px;
    color: var(--dark-charcoal);
}
h3{
    color: var(--dark-raspberry);
    padding-bottom: 20px;
}

span {
    color: var(--dark-charcoal);
    font-weight: 600;

}

main {
    width: 375px;
    margin: auto;
    background: var(--white);
   

}

main img {
    width: 100%;
    
}


.preparation-time {
    background: var(--rose-white);
    border-bottom: none; 
    padding: 20px;
    margin: auto;
    border-radius: 1rem;

    & h2 {
        font-family: "Outfit", sans-serif;
        color: var(--dark-raspberry);
    }

    & ul li::marker{
        font-size: 12px;
        color: var(--dark-raspberry);
    }
}

section {   
   
    width: 315px;
    margin: auto;
    border-bottom: .5px inset var(--light-grey);
    padding-top: 1.5em;
    padding-bottom: 1.5em;

    
}

.nutrition{
    border-bottom: none;
}

/*---------- Listas ------------------------------------------*/

ul li::marker, ol li::marker{
    color: var(--nutmeg);
    
}

ol li::marker{
    font-weight: 600;
    position: absolute;
    text-align: center;
}

ul li::marker{
    font-size: 12px;;
}


li{
   
    line-height: 1.65em;
    padding-left: 15px;
    margin-left: 15px;
   
}

li:not(:last-child){
    margin-bottom: 10px;
}

/*---------- Tablas ------------------------------------------------*/

table {
    text-align: justify;
    padding: 20px;
    border-collapse: collapse;
    
    & th{
        font-weight: 400;
        padding: 15px 80px 15px 40px;
        
    }
    
    & td {
        color: var(--nutmeg);
        font-weight: 700;
        padding: 10px;
        padding: 15px 80px 15px 0px;
        
    }
}
tr:not(:last-child)  {
    border-bottom: 1px solid var(--light-grey); /* Aplica borde inferior a todas las filas excepto a la última */
}

footer{
    margin-top: 30px;
    background: var(--wenge-brown);
    color: var(--light-grey);
    padding: 15px 10px;
    text-align: center;
    & a{
        color: var(--light-grey);
        &:hover{
          color: var(--white);
          border-bottom: none;
        }
    }
}



