* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}


/* figtree-latin-wght-normal */
@font-face {
    font-family: 'Figtree Variable';
    font-style: normal;
    font-display: swap;
    font-weight: 300 900;
    src: url(https://cdn.jsdelivr.net/fontsource/fonts/figtree:vf@latest/latin-wght-normal.woff2) format('woff2-variations');
    unicode-range: U+0000-00FF, U+0131, U+0152-0153, U+02BB-02BC, U+02C6, U+02DA, U+02DC, U+0304, U+0308, U+0329, U+2000-206F, U+2074, U+20AC, U+2122, U+2191, U+2193, U+2212, U+2215, U+FEFF, U+FFFD;
}

:root {
    --primary: hsl(47, 88%, 63%);
    --White: hsl(0, 0%, 100%);
    --Grey: hsl(0, 0%, 50%);
    --Black: hsl(0, 0%, 7%);
}

html {
    height: 100vh;
}

body {
    font-family: 'Figtree Variable', 'arial', sans-serif;
    background: var(--primary);
    height: 100%;
    align-content: center;
}


article {
    background: var(--White);
    max-width: 320px;
    margin: auto;
    padding: 20px;
    border-radius: 1em;
    position: relative;
    border: 1px solid var(--Black);
    box-shadow: 7px 7px  var(--Black);

    /* &::before {
        content: "";
        position: absolute;
        right: -20px;
        bottom: -20px;
        width: 320px;
        height: 500px;
        background: var(--Black);
        color: #000000;
        font-size: 14px;
        z-index: -1;
    } */

}

/*parece que tiene una máscara*/
.img-article {
    border-radius: 1em;
    width: 100%;
}

.badge{
    margin: 20px auto;
    background: var(--primary);
    display: inline-block;
    padding: 5px 10px;
    border-radius: .5em;
    font-weight: 800;
}

h1{
    font-size: 20px;
    font-weight: 800;
}

.body-article {
    color: var(--Grey);
    margin-bottom: 20px;
}

img{
    width: 20%;
}

.container-writer{
    display: flex;
    align-items: center;
    gap: 20px;
}

.writer{
    font-weight: 800;
    
}

footer{
    margin-top: 20px;
}

.attribution {
    font-size: 11px;
    text-align: center;
}

.attribution a {
    color: hsl(228, 45%, 44%);
}